@font-face {
  font-family: 'dinRg';
  src: url('../assets/fonts/DiGrRg__.ttf');
}
@font-face {
  font-family: 'dinMd';
  src: url('../assets/fonts/DiGrMd__.ttf');
}
@font-face {
  font-family: 'dinMdep';
  src: url('../assets/fonts/DiGrMdEp.ttf');
}
@font-face {
  font-family: 'dinLt';
  src: url('../assets/fonts/DiGrLt__.ttf');
}
@font-face {
  font-family: 'dinBk';
  src: url('../assets/fonts/DiGrBk__.ttf');
}
@font-face {
  font-family: 'dinBd';
  src: url('../assets/fonts/DiGrBd__.ttf');
}
@font-face {
  font-family: 'dinBdep';
  src: url('../assets/fonts/DiGrBk__.ttf');
}

h1, h2, h3, h4, h5{
  font-family: dinMd;
}

p, div, ul, li{
  font-family: dinRg;
  font-size:14px;
}

b{
  font-family: dinbd;
}
.navbar{
  margin-bottom: 0px;
}

.navbar-header {
    min-height: 84px;
}

.navbar-nav {
    margin-top: 26px;
}

.navbar-toggle{
   margin-top: 23px;
}

.navbar-default {
    background-color: transparent;
}

.navbar{
  border:0px solid;
}

.navbar-nav>li>a {
    font-size: 16px;
    font-family: dinbd;
}

#myTopnav{
  min-height: 100px;
}

li.litel a {
    background-color: #004A86!important;
    color: #fff!important;
    font-size: 20px;
}

.navbar-default .navbar-nav>li>a{
   color:#004a86;
   font-family: dinbd;
    padding-top: 16px;
    padding-bottom: 16px;
    letter-spacing: 1.5px;


}

.navbar-default .navbar-nav>.open>a{
  background-color: #004A86!important;
  color: #fff!important;
}

.navbar-nav>li>a:hover{
  color:#161616!important;
  background-color:#FFDC39!important;
}

li.active.litel a:hover {
    color: #161616!important;
}

.container.container-home-slider {
    width: 100%;
    /*background:url(../img/home-page/main-img.jpg) no-repeat;*/
    background: url(../img/home-page/renovation-1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    /*border-bottom: 2px solid #e1e5e6;*/
}

.container.container-home-slider .row {
    max-width: 1170px;
    margin-left:auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 150px;
}

.container.container-home-slider h1{
  color: #fff;
  text-align: center;
  font-size: 94px;
  line-height: 120px;
  font-family: dinbd;
  text-shadow: 0px 0px 4px #333;
}
.container.container-home-slider p{
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-family: dinbd;
    margin-top: 20px;
    text-shadow: 0px 0px 4px #333;
}
#inputsearch{
    display: block;
    width: 100%;
    height: 44px;
    padding: 24px 12px;
    font-size: 20px;
    line-height: 22px;
    color: #161616;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    font-family:dinbd;

  }

  .searcharea {
    max-width: 500px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 90px;
   
}

.container.cats-container {
    width: 100%;
}

.first-half{
  padding: 92px 10% 90px 12%;
}

.first-half h1 {
    font-size: 60px;
    font-family: dinbd;
}

.first-half p{
  font-size: 18px;
}

.btn-cat{
  min-width: 145px;
  max-width: 270px;
  background-color: #ffdc39;
  border: 2px solid #ffdc39;
  color: #161616;
  font-size:14px;
  font-family: dinbd;
  padding: 14px 16px 14px;
  margin-top: 30px;
  text-align:center;
}

.div-wave {
    margin-bottom: 25px;
}

.cleaning-first-half{
  background:url(../img/home-page/sunergeio-kath.jpg) no-repeat;
}
.mover-first-half{
  background:url(../img/home-page/mover.jpg) no-repeat;
}

.testimon1-second-half{
  background:url(../img/home-page/mover-3.jpg) no-repeat;
}

.workers-first-half{
  background:url(../img/home-page/workers.jpg) no-repeat;
}
.painter-first-half{
  background:url(../img/home-page/painters.jpg) no-repeat;
}

.tiles-second-half{
  background:url(../img/home-page/tiles.jpg) no-repeat;
}

.electr-first-half{
   background:url(../img/home-page/electrecian-2.jpg) no-repeat;
}

.electr-second-half{
   background:url(../img/home-page/kalodio-1.jpg) no-repeat;
   background-size: cover;
  background-position: left;
}

.texnikos-outer{
  background:url(../img/home-page/texnikos-asfaleias-2.jpg) no-repeat;
   background-size: cover;
  background-position: left;
}

.idraulika-second-half{
  background:url(../img/home-page/plumber.jpg) no-repeat;
 
}



.idraulika-first-half {
   background:url(../img/home-page/solines-2.jpg) no-repeat;
}

.pistopoihtika-outer{
  background:url(../img/home-page/pistopoihtika-1.jpg) no-repeat;
    background-size: cover;
  background-position: top;
}

.kau-second-half{
  background:url(../img/home-page/repair-wash.jpg) no-repeat;
}

.aircon-first-half{
  background:url(../img/home-page/aircondition-back.jpg) no-repeat;

}

.newsletter-container{
  background:url(../img/home-page/newsletter.png) no-repeat;
  background-size: cover;
  background-position: center top;
  width: 100%;
}

 

.mover-first-half, .cleaning-first-half, .testimon1-second-half, .workers-first-half, .painter-first-half, .tiles-second-half, .electr-first-half, .idraulika-first-half, .idraulika-second-half, .electr-second-half, .aircon-first-half, .aircon-second-half, .kau-second-half, .aircon-first-half{
  float: left;
  width: 50%;
  background-size: cover;
  background-position: center;
}

.idraulika-second-half{
  background-position: top center;
}



.container.cats-container .row{
   display: flex;
}

.container.cats-container .row .col-md-6{
   flex: 1; /* additionally, equal width */

   padding-left: 0px;
   padding-right: 0px;
  
}

.mover-outer, .cleaning-outer, .outer-testimon, .pistopoihtika-outer, .texnikos-outer{
  display: flex;
  height: 100%;
}

.mover-first-half, .mover-second-half, .cleaning-first-half, .cleaning-second-half,.testimon1-first-half, .testimon1-second-half, .workers-first-half ,.workers-second-half, .painter-first-half, .tiles-second-half, .tiles-first-half, .electr-second-half, .electr-first-half, .idraulika-first-half, .idraulika-second-half, .pistopoihtika-second-half, .pistopoihtika-first-half, .texnikos-second-half, .texnikos-first-half, .aircon-first-half, .aircon-second-half, .kau-first-half, .kau-second-half, .aircon-first-half{
  flex:1;
  width: 50%;
  padding:60px;
  text-align: center;
}
.cleaning-second-half{
  background-color: #EEF3F4;
}


.mover-second-half{
  background-color:#EEF3F4;
}


.electr-first-half {
    background-position: center top;
}

.box-img {
    max-width: 60px;
    margin: auto;
}

.mover-second-half h2, .tiles-first-half h2{
  font-size:25px;
  color:#161616;
  text-align: center;
  font-family: dinbd;
  line-height: 32px;
}

 .workers-second-half h2{
  font-size:28px;
  color:#161616;
  text-align: center;
  font-family: dinbd;
  line-height: 32px;
}
.cleaning-second-half h2, .electr-second-half h2, .idraulika-first-half h2{
  font-size:25px;
  color:#fff;
  text-align: center;
  font-family: dinbd;
  line-height: 32px;

}

.cleaning-second-half p, .electr-second-half p, .idraulika-first-half p{
  color:#fff;
  font-size: 14px;
}

.cleaning-second-half{
  background-color:#da3a10;
}

.mover-second-half p {
  color:#161616;
  font-size: 14px;
}

.testimon1-first-half{
  background:#FFE361;
}

.testimon1-first-half h3, .texnikos-first-half h3{
  font-size: 25px;
    letter-spacing: -1.4px;
    line-height: 30px;
    font-family: dinbd;
}
.testimon1-first-half p, .texnikos-first-half p {
  font-family: dinbd;
  font-size:14px;
}


/*BARS */


.skillbar {
  position:relative;
  display:block;
  margin-bottom:3px;
  width:100%;
  background:rgba(242,242,242,0.3);
  height:18px;
  border-radius:0px;
  -moz-border-radius:0px;
  -webkit-border-radius:0px;
  -webkit-transition:0.4s linear;
  -moz-transition:0.4s linear;
  -ms-transition:0.4s linear;
  -o-transition:0.4s linear;
  transition:0.4s linear;
  -webkit-transition-property:width, background-color;
  -moz-transition-property:width, background-color;
  -ms-transition-property:width, background-color;
  -o-transition-property:width, background-color;
  transition-property:width, background-color;
}

.skillbar-title { 
  float: left;
  width:250px;
  font-weight:bold;
  font-size:13px;
  color:#ffffff;
  -webkit-border-top-left-radius:3px;
  -webkit-border-bottom-left-radius:4px;
  -moz-border-radius-topleft:0px;
  -moz-border-radius-bottomleft:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
}

.skillbar-title span {
  display:block;
  height:35px;
  line-height:35px;
  -webkit-border-top-left-radius:3px;
  -webkit-border-bottom-left-radius:3px;
  -moz-border-radius-topleft:0px;
  -moz-border-radius-bottomleft:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  font-family: dinbd;
  font-size:16px;
}

.skillbar-bar {
  height:18px;
  width:0px;
  background:#6adcfa;
  border-radius:0px;
  -moz-border-radius:0px;
  -webkit-border-radius:0px;
}

.skill-bar-percent {
  display:block;
  float: right;
  height:35px;
  line-height:35px;
  -webkit-border-top-left-radius:3px;
  -webkit-border-bottom-left-radius:3px;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-bottomleft:3px;
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
  font-family: dinbd;
  color:#fff;
  font-size:16px;
}

.bars{
  display: block;
  width: 100%;
  padding: 92px 10% 90px 12%;
  background-color: #0A847A;
}

.scrillbar-content{
  overflow: auto;
}


/* End BARS*/

.separator {
    border-top: 1px solid #0A847A;
    width: 75px;
    margin-bottom: 20px;
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;
}

.tiles-first-half{
  background:#ffc061;
}

.tiles-first-half .btn-cat{
  background:#EEF3F4;
  border: 2px solid #EEF3F4;
}

.pistopoihtika-first-half {
    background: #EEF3F4;
}


.texnikos-first-half{
  background:#FFE361;
}

.row-texnikos{
  background: #eef3f4;
  padding-top: 30px;
  padding-bottom: 30px;
}
.pistopoihtika-second-half h3, .pistopoihtika-first-half h3, .texnikos-second-half h3, .aircon-second-half h3, .kau-first-half h3{
    font-size: 25px;
    color: #161616;
    text-align: center;
    font-family: dinbd;
    line-height: 32px;
  }

.btn-cat-center{
  margin: 30px auto 0px auto;
}

.aircon-second-half{
  background: #458fff;
}

.aircon-second-half h3{
  color:#fff;
}
.aircon-second-half p{
  color:#fff;
}

.btn-white{
  background:#fff;
  border:2px solid #fff;
}

.btn-yellow{
  background:#FFC061;
  border:2px solid #FFC061;
}

.btn-grey{
  background:#EEF3F4;
  border:2px solid #EEF3F4;
}

.btn-blue{
  background:#458FFF;
  border:2px solid #458FFF;
}

.footer-container{
  width: 100%;
  background: #232323;
  color: #fff;
}

.container.footer-container .footer-first-row {
    padding: 70px 50px;
}

.container.footer-container .footer-second-row{
  padding: 50px;
}

.row-footer-sep {
  padding: 0px 50px;
}

.footer-sep {
    border-bottom: 2px solid #bcbcbc;
}

.container.footer-container ul li, .container.footer-container p {
    font-size: 17px;
    color: #bcbcbc;
}
.container.footer-container ul {
    padding-left: 0px;
    list-style-type: none;
}

.offer-footer-btn {
    border: 1px solid #454545;
    max-width: 183px;
    font-size: 18px;
    letter-spacing: 3px;
    padding: 15px;
    text-align: center;
    font-family: dinbd;
    margin-top: 23px;
    background: #454545;
}

.col-md-6.mydiv {
    padding: 50px;
    background: red;
}

.div-center {
    background: #fff;
    max-width: 200px;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

.container.newsletter-container h5 {
    color: #fff;
    font-size: 50px;
    text-align: center;
    font-family: dinbd;
}

.newsletter-sep {
    border-bottom: 2px solid #ffdc39;
    width: 75px;
    margin: 20px auto;
}


.news-letter-form {
        max-width: 666px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    overflow: auto;
}

.sub-name, .sub-email{
    background-color: #fff;
    font-size: 16px;
    padding: 19px 17px;
    height: 55px;;
    float: left;
    font-family: dinbd;
  }

  .sub-btn {
    width: 200px;
    color: #161616;
    font-size: 17px;
    font-family: dinbd;
    padding: 15px 17px;
    cursor: pointer;
    float: left;
    margin-left: 0;
    height: 55px;;
    border-radius: 0;
    text-align: center;
    background: #ffdc39;
}

.col-md-12.sub-outer {
    margin: 120px 0px;
}

.container.newsletter-container .row {
    max-width: 1170px;
    margin: auto;
}

.mcr-icon-element{
  font-size: 70px;
  color: #fff;

}

.fb-icon {
    width: 41px;
    margin: auto;
}

.instagram-icon {
    width: 64px;
    margin: auto;
}

.twitter-icon {
    width: 67px;
    margin: auto;
}

.youtube-icon {
    width: 64px;
    margin: auto;
}

h5.socials-h5 {
    font-size: 28px!important;
    font-family: dinbd;
    letter-spacing: -1.5px;
    margin: 25px;
}

.social-sep {
    border-bottom: 2px solid #ffdc39;
    width: 75px;
    margin: auto;
}

.col-md-12.socials-outer {
    margin-bottom: 120px;
}



@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }


  
}

.col-md-12.socials-outer .col-md-3:hover>.fb-icon, .col-md-12.socials-outer .col-md-3:hover>.instagram-icon, .col-md-12.socials-outer .col-md-3:hover>.twitter-icon, .col-md-12.socials-outer .col-md-3:hover>.youtube-icon {
  animation: bounce 1.2s;
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;


}

.col-md-12.socials-outer .col-md-3:hover>.fb-icon .mcr-icon-element, .col-md-12.socials-outer .col-md-3:hover>.socials-h5, .col-md-12.socials-outer .col-md-3:hover>.instagram-icon .mcr-icon-element, .col-md-12.socials-outer .col-md-3:hover>.twitter-icon .mcr-icon-element, .col-md-12.socials-outer .col-md-3:hover>.youtube-icon .mcr-icon-element {
  color:#ffdc39;
}

.col-md-3.footer-logo {
    margin-top: 35px;
}




.modal-header{
      border-bottom: 0px solid #e5e5e5;
}

 .modal-header .close {
    margin-top: -2px;
    opacity: 1;
    font-weight: bold;
}

p.p-modal {
    font-size: 20px;
    font-family: dinRg;
}

h4.modal-title {
    font-size: 25px;
}

.modal-content.sub-modal-body {
    background: #EEF3F4;
}

.btn-submit-sub {
    width: 150px;
    background: #ffdc39;
    font-size: 16px;
    text-align: center;
    padding: 8px;
    margin-top: 14px;
    font-family: dinbd;
    border: 1px solid #ffdc39;
}


.container-testimonial{
  background:url(../img/home-page/constructors.jpg) no-repeat;
   background-size: cover;
  background-position: center bottom;
  width: 100%;
  padding-top:100px;
  padding-bottom: 160px;
  position: relative;
}

.container.container-testimonial .row {
    max-width: 1170px;
    margin: auto;
}

p.p-testimonial {
    text-align: center;
    color: #fff;
    letter-spacing: 5px;
}

.container.container-testimonial h5 {
    font-size: 50px;
    font-family: dinbd;
    color: #fff;
    text-align: center;
    margin-top: 10px;
    line-height: 70px;
}

.sep-testimonial-title {
    max-width: 560px;
    margin: auto;
}

.container.container-testimonial .testimonial-outer {
    margin-bottom: 100px;
}

.testimonial-content {
    padding: 30px;
    background:#fff;
}
.testimonial-logo {
    max-width: 263px;
    margin: 30px auto;
}

.testimonial-content p {
    font-size: 20px;
    text-align: center;
}
.testimonial-footer {
    padding: 20px;
    background: #458fff;
}
p.testimonial-name, p.testimonial-prop {
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-family: dinbd;
    margin-bottom:5px;
}

.call-us-sep {
    max-width: 404px;
    margin: auto;
}

.call-us-row .col-md-12{
  margin-bottom: 0px;
}

.call-us-outer{
  background:#fff;
}


.cleaning-first-half{
  position: relative;
}

.cleaning-hover {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    background: rgba(0,0,0,0.6);
    width: 100%;
    padding: 60px;
    opacity: 1;
}

.cleaning-hover-inner{
  color:#fff;
  height: 100%;
  
}

.cleaning-hover{
  opacity: 0;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  text-align: left;

}


.cleaning-second-half:hover > .cleaning-first-half.cleaning-hover:before, .cleaning-first-half:hover .cleaning-hover{
  opacity: 1;
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.cleaning-hover-inner p,.cleaning-hover-inner ul li {
  font-size:18px;
  font-family: dinbd;
}

.cleaning-hover-inner ul{
  padding-left:20px;
}

h4.cleaning-hover-title {
    font-size: 26px;
    font-family: dinbd;
    margin-bottom: 0px;
}

.cleaning-hover-inner img {
    width: 100%;
}

.cleaning-hover-sep {
    margin-bottom: 10px;
}


