/* Add here all your CSS customizations */
#suggestions {
    max-height: 100px;
    overflow-y: scroll;
    margin-bottom: 10px;
}
tr.status-0, .table-striped tbody tr:nth-of-type(odd).status-0 {
    background-color: #f8d7da;
}
.status-0 .cancel-row .fa, .status-0 .edit-row .fa ,.status-1 .copy-row .fa, .status-2 .copy-row .fa  {
    display: none;
}
.selectCustomer {
    width: 100%;
}