/* Add here all your CSS customizations */
#suggestions {
    max-height: 100px;
    overflow-y: scroll;
    margin-bottom: 10px;
}
tr.status-0, .table-striped tbody tr:nth-of-type(odd).status-0 {
    background-color: #f8d7da;
}
.status-0 .cancel-row .fa, .status-0 .edit-row .fa ,.status-1 .copy-row .fa, .status-2 .copy-row .fa  {
    display: none;
}
.selectCustomer {
    width: 100%;
}
.profile{
	width: 100%;
}
.profile .name, .profile .appointDate {
    width: 30%;
    float: left;
}
.profile .distance{
    width: 20%;
    float: left;
}
.busy {
    width: 50%;
    float: left;
}
.available{
    display: none;
}
.selectedProf.profile {
    background: #5cb85c;
    color: white;
}
#available .profile{
    padding: 10px;
    cursor: pointer;
}
.calendar li {
    display: block;
    height: 23px;
    border: 1px solid #eee;
}
.calendar li.busy {
    width: 100%;
    float: none;
    background: #d2322d;
    color: white;
    overflow: hidden;
}
#available .calendar {
    display: none;
}
#feedback { font-size: 1.4em; }
  .selectable .ui-selecting { background: #FECA40; }
  .selectable .ui-selected { background: #F39814; color: white; }
  .selectable { list-style-type: none; margin: 0; padding: 0; }